
.form >>> .el-form-item__content {
  text-align: left;
}
.form >>> .el-textarea__inner {
  width: 50%;
}
.form >>> #element.style {
  margin-left: 20%;
}
.button-mau{
  padding: 15px;
  border: 1px solid green;
  font-size: 18px;
  margin: 15px;
}